{% load static %}

<div class="mt-5">
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Email -->
        <a class="text-white mx-3" href="mailto:Info@AgeOfClaritas.com">
          <i class="bi bi-envelope"></i>
        </a>
        <!-- Facebook -->
        <a class="text-white mx-3" href="https://www.facebook.com/AgeOfClaritas">
          <i class="bi bi-facebook"></i>
        </a>
        <!-- Discord -->
        <a class="text-white mx-3" href="https://discord.gg/ufntthBSDB">
          <i class="bi bi-discord"></i>
        </a>
        <!-- YouTube -->
        <a class="text-white mx-3" href="https://www.youtube.com/@AgeOfClaritas">
          <i class="bi bi-youtube"></i>
        </a>
        <!-- Instagram -->
        <a class="text-white mx-3"
           href="https://www.instagram.com/age_of_claritas/">
          <i class="bi bi-instagram"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © {% now "Y" %}
      <a class="text-white" href="{% url 'core:index' %}">Age of Claritas</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
