{% extends "base.html" %}

{% block title_tag %}
  Age of Claritas - Register
{% endblock title_tag %}
{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow border-0 rounded-3 text-dark">
          <div class="card-body p-4 p-sm-5">
            <h2 class="card-title text-center fw-bold mb-4 text-uppercase tracking-wide">Register</h2>
            <form method="post" class="needs-validation" novalidate>
              {% csrf_token %}
              <!-- Account Credentials -->
              {% include 'includes/field_render.html' with field=form.email %}
              {% include 'includes/field_render.html' with field=form.username %}
              {% include 'includes/field_render.html' with field=form.password1 %}
              {% include 'includes/field_render.html' with field=form.password2 %}
              <!-- Personal Information -->
              <div class="row">
                <div class="col-md-6">{% include 'includes/field_render.html' with field=form.first_name %}</div>
                <div class="col-md-6">{% include 'includes/field_render.html' with field=form.last_name %}</div>
              </div>
              {% include 'includes/field_render.html' with field=form.date_of_birth %}
              <button type="submit" class="btn btn-primary w-100 mt-3">Register Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
