{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand me-4" href="{% url 'accounts:index' %}">
      <img class="navbar-logo" src="{% static 'images/AgeOfClaritasLogo.png' %}" alt="Age of Claritas Logo">
      <img class="navbar-title" src="{% static 'images/AgeOfClaritasTitle.png' %}" alt="Age of Claritas Title"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'rulebook:index' %}" id="rulebookDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rulebook
          </a>
          <ul class="dropdown-menu" aria-labelledby="rulebookDropdown">
            <li><a class="dropdown-item" href="{% url 'rulebook:character_creation' %}">Character Creation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'rulebook:classes' %}">Classes</a></li>
            <li><a class="dropdown-item" href="{% url 'rulebook:kin' %}">Kin</a></li>
            <li><a class="dropdown-item" href="{% url 'rulebook:talents' %}">Talents</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Game Mechanics</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true" href="#">Events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="#">Our Team</a></li>
            <li><a class="dropdown-item" href="#">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://age-of-claritas-shop.creator-spring.com/">Merch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>