.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}



.content-block {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center;
    padding-top: 55px;
}

h2 {
    text-align: center;
}