.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}



.content-block {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    padding-top: 55px;
}

.box-header-link a {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.vh-75 {
    height: 75vh;
  }

.vh-50 {
height: 50vh;
}