{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Information Displayed in the Tab for the Page. Override the title_tag block on specific pages for targeted titles. #}
    <link rel="icon" type="image/png" href="{% static 'images/AgeOfClaritasLogo.png' %}" />
    <title>{% block title_tag %}Age of Claritas{% endblock title_tag %}</title>

    {# Global SEO description snippet for search results. Override this block on specific pages for targeted SEO. #}
    <meta name="description" content="{% block meta_description %}Welcome to Age of Claritas.{% endblock meta_description %}" />

    {# TailwindCSS Output File #}
    <link href="{% static 'dist/output.css' %}" rel="stylesheet" />

    {# Alpine.js #}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>[x-cloak] { display: none !important; }</style>
  </head>

  <body class="flex flex-col min-h-screen bg-claritas text-slate-900 antialiased">

    {# Navigation Bar #}
    {% include 'components/navbar.html' %}

    {# Page Content #}
    {% block layout %}
    {% endblock layout %}

    {# Footer #}
    {% include 'components/footer.html' %}
  </body>
</html>
