@import "tailwindcss";

/* Tells Tailwind where to look for Django Templates */
@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";

/* Prevents hidden elements from flickering before Alpine.js loads */
[x-cloak] {
  display: none !important;
}

/* Removes automatic mobile feedback when pressing buttons and links */
@layer base {
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@theme {
  /* High-Contrast Navy Palette (Rich Saturation) */
  --color-navy-50: #f0f3ff;
  --color-navy-100: #e1e6ff;
  --color-navy-200: #c2cbff;
  --color-navy-300: #9ca8ff;
  --color-navy-400: #7382df;
  --color-navy-500: #5260b7;
  --color-navy-600: #3e4b8c;
  --color-navy-700: #2f3157;
  --color-navy-800: #20223d;
  --color-navy-900: #141528;
  --color-navy-950: #0a0b1a;
}
