{% load static %}

{% block styles %}
  <link href="{% static 'rulebook/css/rulebook.css' %}" rel="stylesheet" />
{% endblock styles %}
<div class="anchor-container">
  <h2 class="text-center section-header">Attributes</h2>
  <a class="anchor" id="attributes"></a>
</div>
<p>
  The Attributes a Player has access to are determined by their
  <a href="{% url 'rulebook:kin' %}">Kin</a>. Players may select one to start
  with and may learn two more by completing Kin Quests during the course of an
  event.
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <img src="{% static 'core/images/Attributes.jpg' %}" class="page-image" />
    </div>
  </div>
</div>
