{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center">Backgrounds</h1>
    <p>
        Backgrounds aren't associated with a specific Class or Kin. Utilize them to support your character's backstory or bolster your skills. 
        Most Backgrounds are either informative or role-played. Each character starts with two Backgrounds.
    </p>

    <br/><br/>

    <p>
        The more specific a background is, the more detailed the information your character will have access to within it. (i.e. if you choose geography, you'll know about general places. 
        If you choose a city, you'll know about store locations, districts, and local politics, etc.)
    </p>
{% endblock %}