{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="display-text">
        <h1 id="{{ base_class.name.lower }}" class="text-center">{{ base_class.name }}</h1>

        {% if base_skills %}
            <h2 class="text-center">Skills</h2>
            {% for skill in base_skills %}
                <b>{{ skill.name }}</b>
                {{ skill.description|safe }}
            {% endfor %}
        {% endif %}

        {% if base_abilities %}
            <h2 class="text-center">Abilities</h2>
            {% for ability in base_abilities %}
                <b>{{ ability.name }}</b>
                {{ ability.description|safe }}
            {% endfor %}
        {% endif %}

        {% for subclass, talents in subclasses %}
            <h1 id="{{ subclass.name.lower }}" class="text-center">{{ subclass.name }}</h1>
                {% if talents.skills %}
                    <h2 class="text-center">Skills</h2>
                    {% for skill in talents.skills %}
                        <b>{{ skill.name }}</b>
                        {{ skill.description|safe }}
                    {% endfor %}
                {% endif %}

                {% if talents.abilities %}
                    <h2 class="text-center">Abilities</h2>
                    {% for ability in talents.abilities %}
                        <b>{{ ability.name }}</b>
                        {{ ability.description|safe }}
                    {% endfor %}
                {% endif %}
        {% endfor %}

        {% if base_class.name == "Warrior" %}
            <h1 id="warrior-titles" class="text-center">Warrior Titles</h1>
            <p>
                A warrior can earn up to 5 titles. Each warrior can eventually get 1 major title and can have 2 minor ones active at a time. 
                The major title can go up to R3 and is mostly permanent. Minor titles can only get to R2 and may be switched out at a rest/in town. 
                R1s are free, R2s and R3s are 5 XP. The warrior must accomplish a task to earn each rank. Warriors start with 1 active slot and gets
                another active when they join the guild and another active when they join the faction.
            </p>
            <h2 class="text-center">Weapon Titles</h2>
            {% for title in weapon_titles %}
                <b>{{ title.name }}</b>
                {{ title.description|safe }}
            {% endfor %}
            <h2 class="text-center">Armor Titles</h2>
            {% for title in armor_titles %}
                <b>{{ title.name }}</b>
                {{ title.description|safe }}
            {% endfor %}
            <h2 class="text-center">Support Titles</h2>
            {% for title in support_titles %}
                <b>{{ title.name }}</b>
                {{ title.description|safe }}
            {% endfor %}
            <h2 class="text-center">Other Titles</h2>
            {% for title in other_titles %}
                <b>{{ title.name }}</b>
                {{ title.description|safe }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}