{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Button to toggle Sidebar -->
    <button class="btn btn-warning sidebar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        <i class="bi bi-layout-sidebar-inset-reverse"></i>
    </button>

    <!-- Sidebar -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel" data-bs-theme="dark">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarLabel">Class Navigation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav>
                <ul>
                    {% for kin_nav in kin_list %}
                        <li><a href="{% url 'rulebook:kin_detail' kin_nav.name|lower %}">{{ kin_nav.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <h1 class="text-center kin-header">{{ kin.name }}</h1>

    <p>
        <b>Size: </b> {{ kin.size }}
    </p>
    <p>
        <b>Description: </b> {{ kin.description|safe }}
    </p>
    
    <div class="container-fluid">
        <div id="kinCarousel" class="carousel slide border border-dark" data-bs-ride="carousel">    
            <!-- Carousel Items -->
            <div class="carousel-inner">
                {% for image in kin.kin_image_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="d-block mx-auto img-fluid" alt="Image for {{ kin.name }}">
                    </div>
                {% endfor %}
            </div>
        
            <!-- Controls/Arrows -->
            <button class="carousel-control-prev" type="button" data-bs-target="#kinCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#kinCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    
            <!-- Indicators/Dots -->
            <div class="carousel-indicators">
                {% for image in kin.kin_image_set.all %}
                <button type="button" data-bs-target="#kinCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %} carousel-indicator-dark" aria-current="{% if forloop.first %}true{% endif %}"
                aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
        </div>
    </div>

    <h2 class="text-center">Attributes</h1>
    {% for attribute in kin.attribute_set.all %}
    <p class="attribute-name">
        <b>{% if not attribute.can_start_with %}*{% endif %}{{ attribute.name }}</b>
        <ul>
            <li>{{ attribute.description|safe }}</li>
        </ul>
        
    </p>
    {% endfor %}

{% endblock %}