{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center page-header">Modifiers</h1>
    <p class="text-center">
        Modifiers represent some significant change to a player that typically has some upside and downside. Unlike many Talents, Modifiers aren't associated with any 
        specific Class or Kin. During the course of the game, a player may gain or lose certain Modifiers.
    </p>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/ModifiersImage.jpg' %}" class="page-image">
            </div>
        </div>
    </div>
{% endblock %}