{% load static %}

<div class="anchor-container">
  <h2 class="text-center section-header">Modifiers</h2>
  <a class="anchor" id="modifiers"></a>
</div>
<p>
  Modifiers represent some significant change to a player that typically has
  some upside and downside. Unlike many Talents, Modifiers aren"t associated
  with any specific Class or Kin. During the course of the game, a player may
  gain or lose certain Modifiers.
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <img src="{% static "core/images/Modifiers.jpg" %}" class="page-image" />
    </div>
  </div>
</div>
