{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center">Purchasing Skills and Abilities</h1>
    <p class="text-center">A Skill is a Talent that can be used repeatedly without resting. Instead of purchasing multiple of the same Skill, you can upgrade its rank to increase its usefulness.</p>
    <p class="text-center">An Ability is an expendable Talent that refreshes after resting. You can purchase multiple of the same Ability to have multiple uses available before resting.</p>
    <p class="text-center">Refer to the chart below for costs of purchasing a Skill and the order of Ability purchases.</p>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-lg-4 skills-table">
                <table class="table p-3">
                    <tr>
                        <th><b>Skill Costs:</b></th>
                    </tr>
                    <tr>
                        <td><b>Rank I</b> - 5XP</td>
                    </tr>
                    <tr>
                        <td><b>Rank II</b> - 10XP</td>
                    </tr>
                    <tr>
                        <td><b>Rank III</b> - 15XP</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}

<p><strong>
    <span style="font-size:18px">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </span>
    <span style="color:rgba(0,24,237,1);">R3</span>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span style="color:rgba(212,212,212,1);">R3</span>
    &nbsp; &nbsp; &nbsp;
    <span style="color:rgba(0,24,237,1);">R3</span>
</strong></p>
<p><strong>
<span style="font-size:18px;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span style="color:rgba(0,119,179,1);">R2</span>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span style="color:rgba(212,212,212,1);">R2</span> &nbsp; &nbsp; &nbsp;<span style="color:rgba(0,119,179,1);">R2</span>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span style="color:rgba(212,212,212,1);">R2&nbsp; &nbsp; &nbsp;R2</span>
    &nbsp; &nbsp; &nbsp;<span style="color:rgba(0,119,179,1);">R2</span>
</span>
</strong></p>
<p><span style="font-size: 18">
<strong>
    <span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp;
</strong>→
<strong>
    &nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1</span>&nbsp; &nbsp; &nbsp;
    <span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp; 
</strong>→
<strong>
    &nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1&nbsp; &nbsp; &nbsp;R1</span>
    &nbsp; &nbsp; &nbsp;<span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp; 
</strong>→
<strong>
    &nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1&nbsp; &nbsp; &nbsp;R1&nbsp; &nbsp; &nbsp;R1</span>
    &nbsp; &nbsp; &nbsp;<span style="color:rgba(59,229,255,1);">R1</span>
</strong>
</span></p>

<p class="wb-stl-custom10"><strong><span style="font-size:18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:rgba(0,24,237,1);">R3</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:rgba(212,212,212,1);">R3</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(0,24,237,1);">R3</span></span></strong></p>

<p class="wb-stl-custom10"><strong><span style="font-size:18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:rgba(0,119,179,1);">R2</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:rgba(212,212,212,1);">R2</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(0,119,179,1);">R2</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:rgba(212,212,212,1);">R2&nbsp; &nbsp; &nbsp;R2</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(0,119,179,1);">R2</span></span></strong></p>

<p class="wb-stl-custom10"><strong><span style="font-size:18px;"><span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp; </span></strong><span style="font-size:18px;">→</span><strong><span style="font-size:18px;">&nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp; </span></strong><span style="font-size:18px;">→</span><strong><span style="font-size:18px;">&nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1&nbsp; &nbsp; &nbsp;R1</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(59,229,255,1);">R1</span>&nbsp; &nbsp; </span></strong><span style="font-size:18px;">→</span><strong><span style="font-size:18px;">&nbsp; &nbsp; <span style="color:rgba(212,212,212,1);">R1&nbsp; &nbsp; &nbsp;R1&nbsp; &nbsp; &nbsp;R1</span>&nbsp; &nbsp; &nbsp;<span style="color:rgba(59,229,255,1);">R1</span></span></strong></p>