{% extends 'rulebook/class_detail_base.html' %}
{% load static %}

{% block class_info %}
    <h1 class="text-center">Wizard - Magic</h1>
    <p class="text-center">
        Magic has its own unique mechanics and rules. Each Wizard can use one elemental magic and one manifold magic. 
        Tier 1 and 2 Spells are purchased like abilities, which can be used a limited amount of times. 
        Tier 3 spells are purchased like skills, which can be used once per rank owned, per quest. Tier 1 and 2 magic 
        refreshes at the end of every encounter (unlike abilities).
    </p>
    <p class="text-center">
        Much like Abilities, a player must work their way up to higher tiers of magic:
        <ul>
            <li>
                In order to gain access to the second tier of a magic type, 
                a player must have a R1 Spell of the first tier of that magic type.
            </li>
            <li>
                In order to gain access to the third tier of a magic type, 
                the player must have spent 30 XP in that type of magic.
            </li>
        </ul>
    </p>
    <p class="text-center">
        Tomes are an equippable “weapon” that typically enhance a player's magic of a specific type:
        <ul>
            <li>
                A Tier 1 tome allows the player to cast R1, Tier 1 Spells of that type infinitely.
            </li>
            <li>
                A Tier 2 tome allows the player to refresh all of their Tier 2 Spells after 
                focusing for 30 uninterrupted seconds. 
            </li>
            <li>
                Other tomes exist that may have different effects, but they are not standard and thereby 
                cannot be started with, or purchased from regular vendors.
            </li>
        </ul>
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/WizardDetail.jpg' %}" class="page-image">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/MagicPaper.jpg' %}" class="page-image">
            </div>
        </div>
    </div>
    
    <h1 class="text-center class-header">Elemental</h1>
    {% for elemental, talents in elementals %}
        <div class="anchor-container">
            <h2 class="text-center class-header">{{ elemental.name }}</h2>
            <a class="anchor" id="{{ elemental.name.lower }}"></a>
        </div>
        {% if talents.tier_1 %}
            <h3 class="text-center class-header">Tier 1</h3>
            {% for talent in talents.tier_1 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
        {% if talents.tier_2 %}
            <h3 class="text-center class-header">Tier 2</h3>
            {% for talent in talents.tier_2 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
        {% if talents.tier_3 %}
            <h3 class="text-center class-header">Tier 3</h3>
            {% for talent in talents.tier_3 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <h1 class="text-center class-header">Manifold</h1>
    {% for manifold, talents in manifolds %}
        <div class="anchor-container">
            <h2 class="text-center class-header">{{ manifold.name }}</h2>
            <a class="anchor" id="{{ manifold.name.lower }}"></a>
        </div>
            {% if talents.tier_1 %}
            {% if manifold.name == "Neuromancy" %}
            <p>
                Mental Fortitude can be used with Elasticity, Neuromancy Tomes, or Tier III modifications as indicated. Mental 
                Fortitude is gained through Elasticity or Neuromancy Tomes only.
            </p>
            <p>
                A player will select to be either a combat-focused Neuromancer or a non-combat focused Neuromancer. 
                The player will only have access to the corresponding version of their Tier II and Tier III spells.
            </p>
            <p>
                If any non-combat version of a Tier II or Tier III Neuromancy spell causes a target to become alerted or 
                combative, the spell's effect will end.
            </p>
            {% endif %}
            <h3 class="text-center class-header">Tier 1</h3>
            {% for talent in talents.tier_1 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
        {% if talents.tier_2 %}
            <h3 class="text-center class-header">Tier 2</h3>
            {% for talent in talents.tier_2 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
        {% if talents.tier_3 %}
            <h3 class="text-center class-header">Tier 3</h3>
            {% if manifold.name == "Neuromancy" %}
                <p>
                    The player gets unique uses of both the combat and non-combat versions of their Tier III spell.
                </p>
            {% endif %}
            {% for talent in talents.tier_3 %}
                <b class="talent-name">{{ talent.name }}</b>
                {{ talent.description|safe }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}